<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dankdelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wheeld"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SellerSignIn"
            android:label="@string/title_activity_seller_sign_in"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Cart"
            android:label="Cart"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".StrainInformation"/>

        <activity
            android:name=".OrderPlaced"
            android:label="OrderPlaced"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".FiltersPage"
            android:label="@string/title_activity_filters_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StrainInformation"
            android:label="@string/title_activity_strain_information"
            android:parentActivityName=".StrainsNearYou"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StrainsNearYou"
            android:label="@string/title_activity_strains_near_you"
            android:parentActivityName=".Address_Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Address_Page"
            android:label="@string/title_activity_address__page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="WheelD"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>